.feature {
  outline: 2px solid green;
  
  &--blue {
    background-color: #81b3d2;
  }
  
  &--grey {
    background-color: #eeeeee;
  }
  
  &--white-text {
    color: #fff;
  }
}
.feature__subtitle {
  text-transform: uppercase;
}
