.feature {
  outline: 2px solid green;
  text-align: center;

  &--blue {
    background-color: #81b3d2;
  }

  &--grey {
    background-color: #eeeeee;
  }

  &--white-text {
    color: #fff;
  }
}
.feature__subtitle {
  text-transform: uppercase;
}
.feature__img {
  display: block;
}
@media @tablet-widths {
  .feature {
    &--icon, &--grey {
      width: 32.5%;
    }
    &--blue {
      width: 33.3%;
    }
  }
}
@media @desktop-widths {
    .feature {
    &--icon, &--grey {
      width: 32.8%;
    }
      &--blue {
    }
  }
}
