.footer {
  outline: 2px solid pink;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer__element {
  .last-element();
  outline: 2px solid red;
  height: 50px;
  width: 12,5%
}
.footer__social-icon {
  display: inline-block;
  height: 50px;
  width: 50px;
  vertical-align: top;
  &--tw {
    background: url(../img/icon-twitter.svg) no-repeat center;
  }
  &--fb {
    background: url(../img/icon-facebook.svg) no-repeat center;
  }
  &--yt {
    background: url(../img/icon-youtube.svg) no-repeat center;
  }
}
.img-block__img-container {
   width: 100%;
   background-color: #ababab;
}
@media @tablet-widths {
  .footer {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
