.footer {
  .container();
  outline: 2px solid pink;
}
.footer__element {
  outline: 2px solid red;
  margin: 10px;
}
@media @tablet-widths {
  .footer__element {
  display: inline-block;
  margin-right: 120px;
  }
}
@media @desktop-widths {
  .footer__element {
  margin-right: 250px;
  }
}
