.form-information {
  outline: 2px solid green;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
.form-information__label-text {
  width: 49%;
}
.form-information__input-text {
  width: 49%;
}
.form-information__radio {
  width: 17%;
}
.form-information__label-radio {
  width: 80%;
}
.form-information__checkbox {
  width: 17%;
}
.form-information__label-checkbox {
  width: 80%;
}
.form-information__send-form {
  width: 40%;
}
@media @tablet-widths {
    .form-information:first-child {
    width: 40%;
  }
    .form-information:nth-child(4) {
    order: -1;
    width: 40%;
  }
}
@media @desktop-widths {
  .form-information:nth-child(4) {
    height: auto;
  }
}
