.header {
  outline: 2px solid black;
}
.header__main-photo {
  height: 160px;
  background: url(../img/bg-back-mobile@1x.jpg) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__main-head {
  font-family: PT Sans, sans-serif;
  font-weight: bold;
  font-size: 60px;
  color: #fff;
}
