.img-block {
  position: relative;
}
.img-block__photo-descr {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: #333;
  opacity: 0.6;
  color: #fff;
}
@media @tablet-widths {
  .img-block:first-child {
    width: 98%;
  }
  .img-block:nth-child(n+2) {
    display: inline-block;
    width: 46%;
  }
}
@media @desktop-widths {
   .img-block:nth-child(n+2) {
     width: 30.9%;
  }
}
