.logo {
  display: inline-block;
  background: url(../img/logo-sedona-mobile.svg) no-repeat center;
  height:  85px;
  width: 105px;
}
@media @tablet-widths {
  .logo {
  position: absolute;
  left: 42%;
  top: 0;
  }
}
