.main-nav {
  position: absolute;
  height: 225px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #81b3d2;
  outline: 2px solid red;
}
.main-nav__wrapper {
  position: relative;
  padding-top: 225px;
  width: 100%;
  background: #fff;
  height: 60px;
  text-align: center;
}
.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.main-nav__list-item {
  text-transform: uppercase;
  display: block;
}
.main-nav__toggle {
  position: absolute;
  bottom: 0;
  right: 0;
}
@media @tablet-widths {
  .main-nav {
    background: #fff;
    height: 60px;
  }
  .main-nav__list {
    text-align: none;
  }
  .main-nav__wrapper {
    padding-top: 0;
  }
  .main-nav__list-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 50px;
  }
  .main-nav__list-item:last-child {
    margin-right: 0;
  }
  .main-nav__toggle {
    display: none;
  }
}
@media @desktop-widths {
  .main-nav__list-item {
    margin-right: 120px;
  }
}
