.text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 29%;
}
.text-block__main-head {
  text-align: center;
  width: 100%;
}
.text-block__subtitle {
  text-transform: uppercase;
  text-align: center;
}
.text-block__textarea {
  width: 100%;
}
