.text-block {
  width: 280px;
  padding: 50px 10px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}
.text-block__textarea {
  width: 100%;
}
.text-block__main-head {
	width: 100%;
	text-align: center;
}

@media @tablet-widths {
  .text-block {
    width: 460px;
  }
  .text-block__main-head {
		font-size: 21px;
		&--biggest-font-size {
			font-size: 30px;
		}
	}
}
